::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #0469c6;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #71a3d4;
}